/* #region Global Vars */

#container {
    width: 75%;
    margin: auto;
}

body{
    padding-top: 90px;
    /* background: radial-gradient(circle, rgba(193,245,193,1) 46%, rgba(193,245,193,1) 46%, rgba(246,250,249,1) 89%) */
}

.content-holder{
    margin-top:50px;
}

/* #endregion Global vars */

/* #region Header */

#navigation{
    border-bottom: 2px solid #034929;
    text-align: center;
    background: #f5faf8;
    font-size: 18px;
    color: #034929;
}

#header-holder{
    display: block;
    width: 84%;
}
a {
    color: #034929;
}
#home-link{
    text-align: center;
    margin:auto;
    padding:auto;
}
#logo{   
    width: 55px;
    height:55px;
    border-radius: 60%;
    float: left;
    border: 2px #082015 solid
}

#logo-holder{
    margin-left: 4%;
}
#toggle{
    background:#034929;
}
#toggle-icon{
    color: white;
}
/* #navbarResponsive{
    float:right;
} */
.nav-guide{
    float:inline-start;

}

/* #endregion Header */

/* #region Profile */

.profile-img{
    height: 200px;
    width:150px;
}

hr{
    color: #034929;
    border:1.5px solid;
}

#mern{
    width: 300px;
    height:150px;
    
}
/* #endregion Profile */

/* #region Projects */
.image{
    width:800px;
    height:400px;
    border:1px solid #082015;
}

#title{
    text-align:justify;
}

.container {
    position: relative;
    /* width: 70%; */
    padding: 0px;
    margin: 0px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin:0px;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #034929;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 5%;
    box-shadow: 0 8px 6px -6px black;
  }

  .text p{
      color: white;
  }

  .Project-items{
      display: flex;
      flex-basis: 50%;
      flex-direction: column;
      text-align: left;
      padding: 0px;
      Margin: 50px 5px;
  }

/* #endregion Projects */

/* #region Contact */

#main {
    border: 5px solid #034929;
}

.form-group {
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}

.form-group input[type=submit] {
    background-color: #034929;
    color: white;
}

.form-group input[type=submit]:hover {
    background-color: seagreen;
}
/* #endregion Contact */

/* #region Footer */
footer{
    color:#082015;
    background: #f5faf8;
}

img{
    width:25px;
    height:25px;
    text-align: match-parent;
}

.footer-list-item {
    display: inline;
}

#glyphs-row{
    margin-left: 31%;
}
/* #endregion Footer */

/* //Image styles */

