/* #region Global Vars */

#container {
    width: 75%;
    margin: auto;
}

body{
    padding-top: 90px;
    background: radial-gradient(circle, rgba(193,245,193,1) 46%, rgba(193,245,193,1) 46%, rgba(246,250,249,1) 89%)
}

.content-holder{
    margin-top:50px;
}

/* #endregion Global vars */

/* #region Header */

#navigation{
    border-bottom: 2px solid #11af65;
    text-align: center;
    background: #f5faf8;
    font-size: 18px;
    color: #11af65;
}

#header-holder{
    display: block;
    width: 84%;
}
a {
    color: #11af65;
}
#home-link{
    text-align: center;
    margin:auto;
    padding:auto;
}
#logo{   
    width: 55px;
    height:55px;
    border-radius: 60%;
    float: left;
    border: 2px #082015 solid
}

#logo-holder{
    margin-left: 4%;
}
#toggle{
    background:rgb(17, 175, 101);
}
#toggle-icon{
    color: white;
}
/* #navbarResponsive{
    float:right;
} */
.nav-guide{
    float:inline-start;

}

/* #endregion Header */

/* #region Profile */

.profile-img{
    height: 200px;
    width:150px;
}

hr{
    color: rgb(17, 175, 101);
    border:1.5px solid;
}

#mern{
    width: 300px;
    height:150px;
    
}
/* #endregion Profile */

/* #region Projects */
.image{
    width:800px;
    height:400px;
    margin: 20px; 
    text-align: center;
    border:1px solid #082015;
}

#title{
    text-align:justify;
}
/* #endregion Projects */

/* #region Contact */

#main {
    border: 5px solid #0dd67c;
}

.form-group {

    border-radius: 3%;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}
/* #endregion Contact */

/* #region Footer */
footer{
    color:#082015;
    background: #f5faf8;
}

img{
    width:25px;
    height:25px;
    text-align: match-parent;
}

.footer-list-item {
    display: inline;
}

#glyphs-row{
    margin-left: 31%;
}
/* #endregion Footer */